<div data-type="inbound" class="faxes-table">
	<table id="fax_list" class="monster-table footable">
		<thead>
			<tr>
				<th data-filterable="false" data-type="html" data-sortable="false"></th>
				<th data-type="html" data-sorted="true" data-direction="DESC">{{ i18n.fax.table.columns.received }}</th>
				<th>{{ i18n.fax.table.columns.receivingFaxbox }}</th>
				<th>{{ i18n.fax.table.columns.receivingNumber }}</th>
				<th>{{ i18n.fax.table.columns.from }}</th>
				<th data-breakpoints="xs">{{ i18n.fax.table.columns.pages }}</th>
				<th data-filterable="false" data-type="html" data-sortable="false"></th>
			</tr>
		</thead>
		<tbody>

		{{#each faxes}}
			<tr class="fax-row" data-faxbox-id="{{faxbox_id}}" data-id="{{id}}">
				<td data-filter-value="{{id}} {{faxbox_id}}">
					{{#monsterCheckbox}}
						<input class="select-fax" type="checkbox" data-id="{{id}}"/>
					{{/monsterCheckbox}}
				</td>
				<td data-sort-value="{{timestamp}}">{{formatted.timestamp}}</td>
				<td>{{formatted.receivingFaxbox}}</td>
				<td>{{formatted.receivingNumber}}</td>
				<td>{{formatted.sendingNumber}}</td>
				<td>{{formatted.pages}}</td>
				<td class="actions">
					<!-- <a class="action-item" target="_blank" href="{{formatted.uri}}">
						<i class="fa fa-file-o action-item view-fax"></i>
					</a> -->
					<a class="action-item" download target="_blank" href="{{formatted.uri}}">
						<i class="fa fa-cloud-download download-fax"></i>
					</a>
					<i class="fa fa-list action-item details-fax"></i>
				</td>
			</tr>
		{{/each}}

		</tbody>
	</table>
</div>