<div class="inbound-faxes faxes-container empty">
	<div class="action-bar clearfix">
		<div class="filters basic-actions pull-left">
			<div class="select-faxbox-wrapper monster-select-dropdown pull-left" data-toggle="tooltip" data-placement="top" data-original-title="{{ i18n.fax.actionBar.tooltips.select }}">
				<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);">
						{{#monsterCheckbox}}
							<input class="main-select-fax" type="checkbox"/>
						{{/monsterCheckbox}}
						<i class="icon-telicon-caret-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0);" class="select-some-faxes" data-type="all">{{ i18n.fax.actionBar.select.all }}</a></li>
						<li><a href="javascript:void(0);" class="select-some-faxes" data-type="none">{{ i18n.fax.actionBar.select.none }}</a></li>
					</ul>
				</li>
			</div>

			<div class="filters selected-actions pull-left margin-left">
				<button id="delete_faxes" data-type="inbound" class="monster-button-secondary monster-button-fit margin-left actionable" data-toggle="tooltip" data-placement="top" data-original-title="{{ i18n.fax.actionBar.tooltips.delete }}">
					<i class="fa fa-trash"></i>
				</button>
			</div>
		</div>

		<div class="filters faxbox-selector">
			<select id="select_faxbox">
				<option value="none"></option>
				<option value="all">{{ i18n.fax.actionBar.selectFax.all }}</option>
				{{#each faxboxes}}
					<option value="{{id}}">{{name}}</option>
				{{/each}}
			</select>

			<button id="refresh_faxbox" class="monster-button-secondary monster-button-fit margin-left" data-toggle="tooltip" data-placement="top" data-original-title="{{ i18n.fax.actionBar.tooltips.refresh }}">
				<i class="fa fa-refresh"></i>
			</button>
		</div>

		<div class="sub-ranges">
			<div class="custom-range">
				<span>{{i18n.startDate}}</span>
				<input id="startDate" type="text" class="date-filter filter-from">
				<span>{{i18n.endDate}}</span>
				<input id="endDate" type="text" class="date-filter filter-to">
				<button type="button" class="apply-filter monster-button monster-button-primary">{{i18n.filter}}</button>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="data-state">

		</div>
		<div class="loading-state">
			<i class="fa fa-spin fa-spinner monster-primary-color"></i>
		</div>
	</div>
</div>